{% extends './base.html' %}
{% load widget_tweaks %}

{% block content %}
<h3 class="mb-4">Contact</h3>
<div class="card text-center contact mx-auto rounded mb-4">
    <div class="card-body">
        <h2 class="mb-4">お問い合わせ</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <div class="mb-3"></div>
                <button class="btn btn-warning" type="submit"><i class="fas fa-paper-plane"></i>送信する</button>
        </form>
    </div>
</div>

{% endblock %}